.cell {
  background-color: white;
  width: 14.5vh;
  height: 14.5vh;
  border-radius: 50%;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

@media screen and (max-width: 600px) {
  .cell {
    width: 7vh;
    height: 7vh;
  }
}
