.play-area {
  background-color: yellow;
  border-radius: 5px;
  // width: 90vw;
  // margin: auto;
  padding: 10px;
}

.parent {
  display: flex;
  justify-content: space-around;
}

.data-display {
  width: 33%;
}
