.play-area {
  background-color: yellow;
  border-radius: 5px;
  padding: 10px;
}

.parent {
  display: flex;
  justify-content: space-around;
  height: 100vh;
}

.data-display {
  width: 33%;
}

@media screen and (max-width: 600px) {
  .parent {
    flex-direction: column;
    height: 60vh;
  }
}
